@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">
        WEB DEVELOPMENT PROGRAM
        FINAL PROJECT
    </h2>
    <h3>This is regarding to the Question No 02 of the assignment</h3>
    <p>You can download the assignment using <a href="https://drive.google.com/file/d/1GIatVFIlpkQ6gezUX44psyEVzKJEpORp/view?usp=drive_link">this link</a></p>
</div>
<div>
    <p>
        <ul>
            <li><a href=/Students/index>Student Info</a> page contains names, cities of the students and courses that the students is following</li>
            <li><a href=/Courses/index>Course Info</a> page contains course names with relevent names of the lecturers teach reach course</li>
            <li><a href=/AllDetails>Student Information</a> page contains all the student names with relevent city, course name and lecturer name.</li>
        </ul>
    </p>
</div>

